choice
	prompt "Select i.MXS board type"

config MACH_MX28EVK
	bool "Freescale MX28 EVK board"
	depends on ARCH_MX28
	select USB_ARCH_HAS_EHCI

config MACH_CPX2
	bool "Digi International ConnectPort X2"
	depends on ARCH_MX28 
	select USB_ARCH_HAS_EHCI

endchoice

config MTD_DIGI_REMOVE_DEFAULT_FREESCALE_PARTITION
	bool "Remove the default boot partition created by Freescale"
	depends on ARCH_MX28 
	default y
	help
		You should select yes unless you know what you are doing.  We normally
		use kernel command line arguments to set the NAND partition information.
		However, the Freescale platform code creates a 20 Megabyte boot partition
		by default, and this will interfere with the partition settings on the
		command line.  So if you want to set the NAND partitions on the kernel
		command line, then set this option to y.  We normally do this for the
		cpx2 platform.
		
config VECTORS_PHY_ADDR
	int "vectors address"
	default 0
	help
	  This config set vectors table is located which physical address

config MXS_TIMER_WITH_MACH
	bool "System Timer support Compare Match interrupt"
	default y

config MXS_RAM_FREQ_SCALING
        bool "RAM frequency scaling support"
        depends on ARCH_MXS
        default y

choice
	prompt "Select MXS RAM chip"
	depends on MXS_RAM_FREQ_SCALING

config MXS_RAM_MDDR
	bool "mDDR SDRAM"
	depends on ARCH_MX23
config MXS_RAM_DDR
	bool "DDR SDRAM"
	depends on ARCH_MX23

endchoice

config IRAM_ALLOC
        bool
        default y
        select GENERIC_ALLOCATOR

config MEM_mDDR
	bool "Memory type is mDDR"
	depends on ARCH_MX28
	help
	  Say Y to select mDDR memory
