# arch/arm/mach-mx5/displays/Kconfig
#
# Copyright 2010 Digi International, Inc
#

if FB_MXC_SYNC_PANEL && MACH_CCWMX51JS

comment "Display selection"

config CCWMX51_LQ070Y3DG3B
	bool "LQ070Y3DG3B TFT LCD support"
	help
	  This enables the support for the LQ070Y3DG3B TFT display.

config CCWMX51_CUSTOM
	bool "Custom display support"
	help
	  This enables the support for a customer specific display.
	  displays/CUSTOM.h has to be modified when selecting this.

endif
