#
# FIM devices configuration
#

menuconfig FIM_CORE
	tristate "FIM drivers support"
	depends on PROCESSOR_NS921X
        select FW_LOADER
        select HOTPLUG 
	default n
	help
	  This option adds the support for the Flexible Interfaces Modules (FIM).
	  Currently only the NS921X processors are supporting the FIM-devices. 
          The number of available FIMs is two for NS9215 and one for NS9210.

	  For installing the specific FIM-firmware, the FIM core driver depends on
	  Hotplug and the firmware-subsystem too. 

##           If a FIM-driver is selected as loadable module, then is required
##           to have installed the user-space application 'mdev' (Busybox).


if FIM_CORE

config FIM_ONE
	bool "FIM 1"
	depends on PROCESSOR_NS9210 || PROCESSOR_NS9215 && FIM_CORE=y
	help
	  Enables FIM 1

choice
	prompt "Choose FIM 1 driver"
	depends on FIM_ONE
	help
	  Only one of the following drivers can run in the FIM. Please pick one.

config FIM_ONE_SDIO_SELECTED
	bool "SDIO driver"
	depends on MMC && MMC_BLOCK
	select FIM_ONE_SDIO
	help
	  Enables the FIM-SDIO driver.
	  
          For testing the SDIO functionality is required to choose an additional 
          SDIO-driver (GPS/UART) from the MMC-core.

config FIM_ONE_SERIAL_SELECTED
	bool "Serial driver"
	depends on ((MACH_CC9P9215 || MACH_CC9P9215JS) || ((MACH_CME9210 || MACH_CME9210JS) && !CME9210JS_SERIAL_PORTA ))
	select FIM_ONE_SERIAL
	help
	  Enables the FIM-serial driver. 

config FIM_ONE_CAN_SELECTED
	bool "CAN-bus driver"
	depends on CAN && CAN_DEV && (!MACH_CME9210 && !MACH_CME9210JS)
	select FIM_ONE_CAN
	help
	  Enables the FIM-CAN bus driver.

config FIM_ONE_W1_SELECTED
	bool "1-wire driver"
	select FIM_ONE_W1
	select W1
	select W1_MASTER_GPIO
	help
	  Enables the 1-wire GPIO driver on the FIM-board. For the selection of the
	  connected slaves you need to enter the config menu of the 1-wire subsystem.

endchoice # FIM_ONE

config FIM_TWO
	bool "FIM 2"
	depends on PROCESSOR_NS9210 || PROCESSOR_NS9215 && FIM_CORE=y
	help
	  Enables FIM 2

choice
	prompt "Choose FIM 2 driver"
	depends on FIM_TWO
	help
	  Only one of the following drivers can run in the FIM. Please pick one.

config FIM_TWO_SDIO_SELECTED
	bool "SDIO driver"
	depends on MMC && MMC_BLOCK && (!MACH_CME9210 && !MACH_CME9210JS) && !FIM_ONE_SDIO_SELECTED
	select FIM_TWO_SDIO
	help
	  Enables the FIM-SDIO serial driver. 
	  
          For testing the SDIO functionality is required to choose an additional 
          SDIO-driver (GPS/UART) from the MMC-core.

config FIM_TWO_SERIAL_SELECTED
	bool "Serial driver"
	depends on !MACH_CME9210 && !MACH_CME9210JS
	select FIM_TWO_SERIAL
	help
	  Enables the FIM-serial driver.

config FIM_TWO_CAN_SELECTED
	bool "CAN-bus driver"
	depends on CAN && CAN_DEV && ((MACH_CC9P9215 || MACH_CC9P9215JS) || ((MACH_CME9210 || MACH_CME9210JS) && (!CME9210JS_SERIAL_PORTA_FULL && !FIM_ONE_SERIAL_SELECTED && !FIM_ONE_SDIO_SELECTED)))
	select FIM_TWO_CAN
	help
	  Enables the FIM-CAN bus driver.

config FIM_TWO_W1_SELECTED
	bool "1-wire driver"
	depends on !MACH_CME9210 && !MACH_CME9210JS
	select FIM_TWO_W1
	select W1_MASTER_GPIO
	help
	  Enables the 1-wire GPIO driver on the FIM-board. For the selection of the
	  connected slaves you need to enter the config menu of the 1-wire subsystem.
	  
endchoice # FIM_TWO

# -- Special configuration options for some FIM-drivers
config SERIAL_FIM_CONSOLE
        bool "Enable the FIM Serial Console"
        depends on FIM_ONE_SERIAL_SELECTED || FIM_TWO_SERIAL_SELECTED
        help
          Enables the console functionality on the FIM serial ports.

config FIM_MODULES
	bool "Enable FIM drivers as loadable modules"
	depends on !FIM_ONE || !FIM_TWO
	help
	  This option allows to build the FIM drivers as loadable modules
	  rather than as built-in features.

if FIM_MODULES

# -- These are the options for enabling the FIM-drivers as loadable modules
config FIM_SDIO_MODULE
	bool "SDIO as loadable module"
	depends on MMC && MMC_BLOCK && !FIM_ONE_SDIO_SELECTED && !FIM_TWO_SDIO_SELECTED && (!FIM_ONE || !FIM_TWO)
	select FIM_ONE_SDIO
	select FIM_TWO_SDIO
	help
          Enables the FIM SDIO as loadable module. The number of FIMs to be
	  handled by this driver can be passed with the module parameter 'fims'

config FIM_SERIAL_MODULE
	bool "Serial as loadable module"
	depends on !FIM_ONE_SERIAL_SELECTED && !FIM_TWO_SERIAL_SELECTED && (!FIM_ONE || !FIM_TWO)
	select FIM_ONE_SERIAL
	select FIM_TWO_SERIAL
	help
          Enables the FIM Serial loadable module. The number of FIMs to be
	  handled by this driver can be passed with the module parameter 'fims'

config FIM_CAN_MODULE
	bool "CAN as loadable module"
	depends on CAN && CAN_DEV && !FIM_ONE_CAN_SELECTED && !FIM_TWO_CAN_SELECTED && (!FIM_ONE || !FIM_TWO)
	select FIM_ONE_CAN
	select FIM_TWO_CAN
	help
          Enables the FIM CAN as loadable module. The number of FIMs to be
	  handled by this driver can be passed with the module parameter 'fims'

endif # FIM_MODULES

# -- Variables for selection the platform devices
config FIM_ONE_SDIO
	bool

config FIM_TWO_SDIO
	bool

config FIM_ONE_SERIAL
	bool

config FIM_TWO_SERIAL
	bool

config FIM_ONE_CAN
	bool

config FIM_TWO_CAN
	bool

config FIM_ONE_W1
        bool

config FIM_TWO_W1
        bool
		
endif # FIM_CORE

