menu "Voltage and Current regulators"

config REGULATOR_API
	bool

config REGULATOR
	tristate "Voltage and Current Regulator Support"
	depends on EXPERIMENTAL
	select REGULATOR_API
	default n
	help
	  Generic Voltage and Current Regulator support.

config REGULATOR_DEBUG
	bool "Regulator debug support"
	depends on REGULATOR
	help
	  Say yes here to enable debugging support.


endmenu
